body {
  margin: 5vw 10vw 0px 10vw;
  background-color: #f7eddf;
  font-family: 'Gentium Book Basic', serif;
  color: #178042;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h3 {
  font-size: 30px;
  line-height: 0px;
  margin-top: 0;
}

h5 {
  font-size: 18px;
  line-height: 0px;
}

body * {
  box-sizing: border-box;
}

#contentGrid {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1vmin;
}

.contentItem {
  text-align: center;
  justify-content: center;
}
